.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  float: right;
  }

.box-shadow{
 box-shadow: 0 8px 6px -6px black;
border-style: inset;
}
.example-sidenav {
  padding: 20px;
  box-shadow: -3px 2px 5px  blue;

  
}
